body {
    background-color: #2b2b2b;
    margin-bottom: 60px;
}
p {
    color: #aaaaaa;
    font-family: Monaco;
    font-size: 0.9em;
    margin: 20px 100px;
    line-height: 1.5em;
    text-align: justify;
    max-width: 800px;
}
strong, b {
    color: #cca76e;
}
em, i {
    color: #dddddd;
}
a, a:link, a:visited {
    font-family: Monaco;
    color: #8888c6;
    cursor: pointer;
    text-decoration: underline;
}
a:active, a:hover {
    text-decoration: none;
}
nav {
    margin: 20px 0;
    padding: 10px 60px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #252525;
}
nav a, nav a:link, nav a:active, nav a:visited {
    color: #aaaaaa;
    margin-right: 30px;
    text-decoration: none;
}
nav a:hover {
    color: #eeeeee;
    text-decoration: none;
}
h1, h2, h3, h4, h5 {
    margin: 40px 100px;
    font-family: Monaco;
    color: #cca76e;
}
h1 {
    margin: 40px 60px;
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.6em;
}
h4 {
    font-size: 1.4em;
}
h5 {
    font-size: 1.2em;
}
header h1 {
    font-size: 2.5em;
    color: #dddddd;
    margin: 40px 60px;
    font-family: Arial;
}
blockquote {
    margin: 30px 100px 0;
    background-color: #252525;
    border: 1px solid #000;
    padding: 20px;
    max-width: 760px;
}
blockquote p {
    color: #6a8759;
    font-size: .8em;
    font-family: Monaco;
    margin: 0;
}
blockquote cite {
    font-style: italic;
    display: block;
    text-align: right;
    width: 96%;
    margin-top: 10px;
    color: #cca76e;
    font-weight: bold;
}
blockquote cite:before {
    content: "~";
}
footer {
    background-color: #252525;
    margin: 20px 0 0 0;
    border-top: 1px solid #000;
    position: fixed;
    width: 100%;
    bottom: 0;
}
footer p {
    color: #777777;
    font-family: Monaco;
    font-size: .9em;
    margin: 10px 100px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
