{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>Fortuna Test: D100</h1>
        <h3>Random Number 1-100: {{d(100)}}</h3>
        <p><a href="/d100">Generate Random d100</a></p>
        <blockquote>
            <p>Powered by Python</p>
            <p>Random ToolKit:
                <a href="https://github.com/BrokenShell/Fortuna"
                   target="_blank">Fortuna</a>, built with Python, Cython & Storm
            </p>
            <p>Core Engine:
                <a href="https://github.com/BrokenShell/Storm"
                   target="_blank">Storm</a>, built with C++
            </p>
        </blockquote>
    </div>
{% endblock %}
