<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Unit 3, Sprint 3</title>
    <link rel="stylesheet"
          href="static/css/reset.css">
    <link rel="stylesheet"
          href="static/css/style.css">
    <link rel="icon"
          type="image/png"
          href="static/images/dice.ico">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Production and Cloud</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/d100">D100</a></li>
            <li><a href="/gamma">Gamma</a></li>
        </ul>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <p>&copy; 2020 Sharp Design Digital<span class="right">&lambda;</span></p>
    </footer>
</div>
</body>
</html>
